@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

/* Resset de CSS */
* {
    margin: 0;
    padding: 0;
    /* AL DAR PADIN NO SE AGARANDA LA CAJA RESPETA LAS MEDIDAS */
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

/* Header */

header {
   display: flex;
   width: 100%;   
   background-color: #3989f3fb;
   height: 70px;
   padding: 10px;
}
   

.logos{
    display: flex;
    align-items: center;
    column-gap: 8px;
   
}

.logo-imagen{
    height:30px;
    width: 60px;
     /*border-radius: 40%;*/
    /*background-color: rgba(255, 0, 0, 0.795);*/
    display: inline-block;
    text-align: start;
}

.logo-texto{
    display: flex;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}

.nav-bar {
   display: flex;
   justify-content: center;
   /*margin-left: .10%;*/
   margin-right: 5%;
   align-items: center;
   padding: 4px;
   height: 100%;
   font-size: 1rem;
   font-family: 'Dosis', sans-serif;;
    /*width: 70%;*/
    /*background-color: olive;*/
 }

 /* Estilos Items del menu bar*/
 .listaul {
   /*margin-top: 5px;*/
   display: inline;
}

 .listaul li{
    display:inline;
    margin-left: .4rem;
    list-style-position:inside;
    /*height: 100%;*/
    
 }

 .nav-bar .listaul li a{
    color: #e2e2e2;
    list-style-type: none;
    text-decoration: none;
    
 }

 .item1.active {
    text-decoration: underline;
    font-weight: bold;
    color:#ffffff;
 }

 .listaul li a:hover{
    /*font-weight: 500px;*/
    color:#ffffff;
    font-weight: bold;
    /*border-bottom: 1px solid;*/
    /*background: #1900ff;*/
 }

 /* Seccion Principal*/

 .contenedor-pato{
    background-image: url("../assets/Patos.jpg");
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    padding-top: 8%;
    /*align-items: center;*/
    /*justify-content: center;*/
    flex-direction: column;
    /*row-gap: 20px;*/
    font-size: 20px;
    text-align: center;
    
 }

h1{
   padding-bottom: 5%;
}
 .texto{
    
    padding-inline: 70px;
 }

/*Seccion de la Pagina de Quienes Somos*/

.hero{
   background-image: url("../assets/GATO-PARA-QUIENESSOMOS.jpg");
   height: 75vh;
   font-size: 3rem;
   font-weight:400;
   background-repeat: no-repeat;
    background-size: cover;
}

/*.contenedor-grilla{
 display: grid;
width: 1200px;
   height: 400px;
 
   grid-template-columns:2fr 1fr 1fr;
   grid-template-rows: repeat(5,1fr) ;
    grid-template-areas:
     "columna-1  columna-3 columna-3"
     "columna-1  columna-2 columna-2"
     "columna-1  columna-3 columna-3"
     "columna-1  columna-2 columna-3"
     "columna-1  columna-2 columna-3";

.grilla{
   border: 1px solid red;
}


 /*Seccion de MediaQuery*/

 /*Barra de navegacion reduce el tmaño de letra*/
 @media screen and (max-width:500px) {
   .listaul {
      margin-top: 15px;
   }
      
   
   .listaul li {
      display: block;
      line-height: 13px;
      font-size: 13px;
      width: 100%;
   }
   .contenedor-pato {
      height: 80vp;
   }
 }
   
 












