@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

$fondo_body: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
* {
    margin: 0;
    padding: 0;
    /* AL DAR PADIN NO SE AGARANDA LA CAJA RESPETA LAS MEDIDAS */
    box-sizing: border-box;

    &::selection{
        background-color: #000000;
        color: #ffffff;
    }
}

body{
   background-color: $fondo_body;
}

h1{
    text-shadow:
    1px 1px 1px #ff0000,
    2px 2px 1px #ff0000;
}

ul{
    list-style-type: none;
}

li{
    list-style-position:inside;
}

a{
    //list-style-type: none;
    text-decoration: none;
}

.imag {
     width: 100%;
}    
.filas {
    display: flex;
    row-gap: 5px;
    flex-wrap: wrap;
}
.columna {
    flex: 20%;
    padding: 5px;
}

.columna {
    .imag {
      column-gap:  5px;
    }
}


.body_tarjeta_index{
    background-color: $fondo_body;
}

/* Uso de Mixin */
@mixin caja-flex($ejex, $ejey, $flexible){
    justify-content: $ejex;
    align-items: $ejey;
    display:$flexible;
}
