.tarjetas{
    display: flex;
    gap: 1rem;
    
    .tarjeta{
        flex-wrap: wrap;
        padding: 1rem;
        background-color: transparent;
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0; // flex=1 auto width=100%
        gap: 5px;
        padding: inline 5px;
        border: 2px solid black;
        transition: all .3s;
        &:hover{
            transform: scale(1) translateY(20px);
            box-shadow: 5px 5px 0px 0px rgba(19,15,220,1),
            10px 10px 0px 0px rgba(46,60,194,0.6),
            15px 15px 0px 0px rgba(80,74,210,0.4),
            20px 20px 0px 0px rgba(106,125,208,0.2),
            25px 25px 0px 0px rgba(152,198,237,0.1);
        }

    }
}

    
.tarjeta__sobra:hover{
    transform: scale(1) translateY(20px);
    box-shadow: 5px 5px 0px 0px rgba(19,15,220,1),
    10px 10px 0px 0px rgba(46,60,194,0.6),
    15px 15px 0px 0px rgba(80,74,210,0.4),
    20px 20px 0px 0px rgba(106,125,208,0.2),
    25px 25px 0px 0px rgba(152,198,237,0.1);
    transition: all .3s;
  }


